$red-1: #fff2f2;
$red-2: #ffd9d9;
$red-3: rgba(255, 76, 76, 0.71);
$red-4: #a33131;
$red-5: #471515;
$red-6: #0d0404;
$red-7: #ff4c4c26;
$red-8: #fff2f2;
$red-9: #ff4c4cb5;

$green-1: #f2fff5;
$green-2: rgba(77, 218, 110, 0.15);
$green-3: rgba(77, 218, 110, 0.62);
$green-4: #14401d;
$green-5: #040d06;
$green-6: #4dda6e26;
$green-7: #4dda6e9e;
$green-8: #f2fff5;
$green-9: #4dda6e9e;

$blue-1: #f2f9ff;
$blue-2: rgba(76, 172, 255, 0.15);
$blue-3: rgba(76, 172, 255, 0.62);
$blue-4: #153047;
$blue-5: #04090d;
$blue-6: #4cacff26;
$blue-7: #4cacff9e;
$blue-8: #f2f9ff;
$blue-9: #f2f9ff;
